div.retrospective {
    border: 1px solid #ffc8c8;
    padding:15px;
    margin: 15px;
    margin-left: 212px;
    background: #fff5f5;
    border-radius: 8px;
}

div.discussionItem {
    border: 1px solid #8080ff;
    padding:8px;
    margin: 8px;
    background: #ffffee;
    border-radius: 8px;
    -moz-box-shadow: 1px 1px 2px #000;
    -webkit-box-shadow: 1px 1px 2px #000;
    box-shadow: 1px 1px 2px #000;
}

div.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border: 1px solid #c8ffc8;
    background: #f5fff5;
    padding:15px;
    margin: 15px;
    width:150px;
    border-radius: 8px;
}
